body {
    background-color: burlywood;
}

h1 {
    color: bisque;
    font-weight: bold;
}

p {
  color: sienna;
  text-align: left;
}

img {
    display: block;
    margin: 1em auto;
    max-width: 300px;
    width:80%;
}    

/* #navigation li:first-child {
    background-color: hotpink;
}

#navigation li:last-child {
    background-color: magenta;
}

#navigation li:nth-child(2n) {
    background-color: aqua;
}

#navigation > ul > li {
    background-color: blue;
}

#navigation li:hover {
    background-color: rosybrown;
    font-size: 2em;
} */

#navigation {
    background-color: bisque;
}

/* select all li that are direct descendants of  */
#navigation > ul > li {
    display: inline;
}

.container > h1 {
    color: orange;
}

.container > h2 {
    color: forestgreen;
}

.container > p {
    color: white;
}

.important {
    color: red;
  }

.big {
  font-size: 300%;
}

.container {
    margin: 0 auto;
    max-width: 900px;
    width: 90%;
}


#primary {
  font-family: 'Times New Roman';
}

#navigation {
    background-color: pink;
}
#header {
    background-color: blue;
}

#content {
    background-color: purple;
}

#footer {
    background-color: orchid;
}