body {
    background-color: burlywood;
    display: grid;
    grid-template-rows: min-content min-content auto min-content;
    grid-template-areas: 
        "navigation"
        "header"
        "content"
        "footer";
}

h1 {
    color: bisque;
    font-family: 'Life Savers', monospace;
}

h2 {
    color: forestgreen;
}

p {
  color: white;
  text-align: center;
}

img {
    display: block;
    margin: 1em auto;
    max-width: 300px;
    width:80%;
}   

ul {
    background-color: pink;
}

input[type="radio"]{
    display: inline;
    margin: 10px 10px;
    font-size: 1.1em;
    max-width: 300px;
}

input[type="text"]{
    display: inline;
    margin: 10px 0px;
    font-size: 1.1em;
    max-width: 300px;
}

input[type="email"]{
    display: inline;
    margin: 10px 0px;
    font-size: 1.1em;
    max-width: 300px;
}

input[type="submit"]{
    display: inline;
    margin: 10px 0px;
    font-size: 1.1em;
    background-color: orange;
}

input[type="checkbox"]{
    display: inline;
    margin: 10px 0px;
    font-size: 1.1em;
    max-width: 300px;
}


label {
    font-size: 1.5em;
}

select {
    margin: 10px 0px;
    font-size: 1.1em;
}

.container {
    margin: 0 auto;
    max-width: 900px;
    width: 90%;
}


#navigation {
    grid-area: navigation;
    background-color: pink;
    /* deleted for grid: no more stickiness! */
    /* position: fixed;
    top: 0;
    left: 0;
    width: 100vw; */
    position: sticky;
    top: 0;     
}

#navigation > ul {
    display: flex;
    /* height: 10vh; */
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
}

/* select all li that are direct descendants */
#navigation > ul > li {
    display: inline;
    position: relative;
    margin: 0 10px;

    /* padding: 10px; */
}

/* for the dropdown menu */
#navigation .dropdown {
    display: none;
    left: 0;
    position: absolute;
    top: 28px;
}

/* need a sibling selector  */
#navigation a:hover + .dropdown,
#navigation a + .dropdown:hover { 
    display: block;
}



#header {
    grid-area: header;
    background-color: blue;
}

#content {
    grid-area: content;
    background-color: purple;
    padding: 20px;
}

#footer {
    grid-area: footer;
    background-color: orchid;
}

@media (min-width: 750px) {
    body {
        grid-template-columns: 15% auto;
        grid-template-rows: min-content auto min-content;
        grid-template-areas:
        /* move from one-column layout to two-column layout */
            "navigation header"
            "navigation content"
            "navigation footer";
    }

    #navigation > ul {
        flex-direction: column;
    }
}